<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{devoured}}">
		{{#if devoured}}Eat it!{{else}}Make this burger again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>